/*
 * Swaggy Jenkins
 * Jenkins API clients generated from Swagger / Open API specification
 *
 * The version of the OpenAPI document: 3.3.1-pre.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ComputerSet;
import org.openapitools.client.model.FreeStyleBuild;
import org.openapitools.client.model.FreeStyleProject;
import org.openapitools.client.model.Hudson;
import java.util.List;
import org.openapitools.client.model.ListView;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.Queue;

/**
 * Swaggy Jenkins
 *
 * <p>Jenkins API clients generated from Swagger / Open API specification
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface RemoteAccessApi  {

    @GET
    @Path("/computer/api/json")
    @Produces({ "application/json" })
    ComputerSet getComputer(@QueryParam("depth") Integer depth) throws ApiException, ProcessingException;

    @GET
    @Path("/api/json")
    @Produces({ "application/json" })
    Hudson getJenkins() throws ApiException, ProcessingException;

    @GET
    @Path("/job/{name}/api/json")
    @Produces({ "application/json" })
    FreeStyleProject getJob(@PathParam("name") String name) throws ApiException, ProcessingException;

    @GET
    @Path("/job/{name}/config.xml")
    @Produces({ "text/xml" })
    String getJobConfig(@PathParam("name") String name) throws ApiException, ProcessingException;

    @GET
    @Path("/job/{name}/lastBuild/api/json")
    @Produces({ "application/json" })
    FreeStyleBuild getJobLastBuild(@PathParam("name") String name) throws ApiException, ProcessingException;

    @GET
    @Path("/job/{name}/{number}/logText/progressiveText")
    void getJobProgressiveText(@PathParam("name") String name, @PathParam("number") String number, @QueryParam("start") String start) throws ApiException, ProcessingException;

    @GET
    @Path("/queue/api/json")
    @Produces({ "application/json" })
    Queue getQueue() throws ApiException, ProcessingException;

    @GET
    @Path("/queue/item/{number}/api/json")
    @Produces({ "application/json" })
    Queue getQueueItem(@PathParam("number") String number) throws ApiException, ProcessingException;

    @GET
    @Path("/view/{name}/api/json")
    @Produces({ "application/json" })
    ListView getView(@PathParam("name") String name) throws ApiException, ProcessingException;

    @GET
    @Path("/view/{name}/config.xml")
    @Produces({ "text/xml" })
    String getViewConfig(@PathParam("name") String name) throws ApiException, ProcessingException;

    @HEAD
    @Path("/api/json")
    void headJenkins() throws ApiException, ProcessingException;

    @POST
    @Path("/createItem")
    @Consumes({ "application/json" })
    @Produces({ "*/*" })
    void postCreateItem(@QueryParam("name") String name, @QueryParam("from") String from, @QueryParam("mode") String mode, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb, @HeaderParam("Content-Type") String contentType, String body) throws ApiException, ProcessingException;

    @POST
    @Path("/createView")
    @Consumes({ "application/json" })
    @Produces({ "*/*" })
    void postCreateView(@QueryParam("name") String name, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb, @HeaderParam("Content-Type") String contentType, String body) throws ApiException, ProcessingException;

    @POST
    @Path("/job/{name}/build")
    void postJobBuild(@PathParam("name") String name, @QueryParam("json") String json, @QueryParam("token") String token, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;

    @POST
    @Path("/job/{name}/config.xml")
    @Consumes({ "application/json" })
    @Produces({ "*/*" })
    void postJobConfig(@PathParam("name") String name, String body, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;

    @POST
    @Path("/job/{name}/doDelete")
    void postJobDelete(@PathParam("name") String name, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;

    @POST
    @Path("/job/{name}/disable")
    void postJobDisable(@PathParam("name") String name, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;

    @POST
    @Path("/job/{name}/enable")
    void postJobEnable(@PathParam("name") String name, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;

    @POST
    @Path("/job/{name}/lastBuild/stop")
    void postJobLastBuildStop(@PathParam("name") String name, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;

    @POST
    @Path("/view/{name}/config.xml")
    @Consumes({ "application/json" })
    @Produces({ "*/*" })
    void postViewConfig(@PathParam("name") String name, String body, @HeaderParam("Jenkins-Crumb") String jenkinsCrumb) throws ApiException, ProcessingException;
}
