/** Swaggy Jenkins
  * Jenkins API clients generated from Swagger / Open API specification
  *
  * The version of the OpenAPI document: 3.3.1-pre.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.DefaultCrumbIssuer
import org.openapitools.client.models.*

trait BaseApiEndpoints[F[*]] {

  def getCrumb()(using auth: _Authorization.Basic): F[DefaultCrumbIssuer]

}

class BaseApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with BaseApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def getCrumb()(using auth: _Authorization.Basic): F[DefaultCrumbIssuer] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, DefaultCrumbIssuer](
      method = "GET",
      path = s"/crumbIssuer/api/json",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, DefaultCrumbIssuer]("DefaultCrumbIssuer", r)
        case r if r.status.code == 401 => Concurrent[F].raiseError(_FailedRequest(r.status.code, r.status.reason))
        case r if r.status.code == 403 => Concurrent[F].raiseError(_FailedRequest(r.status.code, r.status.reason))
    }
  }

}


