/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.24.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class ApiApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /api/json
        **/
        rest()
            .securityDefinitions()
                .basicAuth("jenkins_auth").end()
            .get("/api/json")
                .description("")
                .id("getJenkinsApi")
                .produces("application/json")
                .outType(Hudson.class)
                .to("direct:getJenkins");
        

        /**
        HEAD /api/json
        **/
        rest()
            .securityDefinitions()
                .basicAuth("jenkins_auth").end()
            .head("/api/json")
                .description("")
                .id("headJenkinsApi")
                .to("direct:headJenkins");
        
    }
}
