/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.4.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class BaseApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /crumbIssuer/api/json
        **/
        rest()
            .securityDefinitions()
                .basicAuth("jenkins_auth").end()
            .get("/crumbIssuer/api/json")
                .description("")
                .id("getCrumbApi")
                .produces("application/json")
                .outType(DefaultCrumbIssuer.class)
                .to("direct:getCrumb");
        
    }
}
