/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.24.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class ComputerApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /computer/api/json
        **/
        rest()
            .securityDefinitions()
                .basicAuth("jenkins_auth").end()
            .get("/computer/api/json")
                .description("")
                .id("getComputerApi")
                .produces("application/json")
                .outType(ComputerSet.class)
                .param()
                    .name("depth")
                    .type(RestParamType.query)
                    .required(true)
                    .description("Recursion depth in response model")
                .endParam()
                .to("direct:getComputer");
        
    }
}
