/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.24.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class JwtAuthApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /jwt-auth/jwks/{key}
        **/
        rest()
            .get("/jwt-auth/jwks/{key}")
                .description("")
                .id("getJsonWebKeyApi")
                .produces("application/json")
                .outType(String.class)
                .param()
                    .name("key")
                    .type(RestParamType.path)
                    .required(true)
                    .description("Key ID received as part of JWT header field kid")
                .endParam()
                .to("direct:getJsonWebKey");
        

        /**
        GET /jwt-auth/token
        **/
        rest()
            .get("/jwt-auth/token")
                .description("")
                .id("getJsonWebTokenApi")
                .produces("application/json")
                .outType(String.class)
                .param()
                    .name("expiryTimeInMins")
                    .type(RestParamType.query)
                    .required(false)
                    .description("Token expiry time in minutes, default: 30 minutes")
                .endParam()
                .param()
                    .name("maxExpiryTimeInMins")
                    .type(RestParamType.query)
                    .required(false)
                    .description("Maximum token expiry time in minutes, default: 480 minutes")
                .endParam()
                .to("direct:getJsonWebToken");
        
    }
}
