---
name: Publish JavaScript
'on':
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          ref: 3.3.0
      - uses: ./.github/actions/publish-javascript-action
        env:
          NPMJS_TOKEN: ${{ secrets.NPMJS_TOKEN }}
