---
name: Publish Python
'on':
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          ref: 3.2.0
      - uses: ./.github/actions/publish-python-action
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
